<div class="item">
  <label>Nome</label>
  <input type="name" name="name" required value="{{item.name}}">
</div>

<div class="item">
  <label>Imagem do chefe</label>
  <input type="url" name="chefe_url" required value="{{item.avatar_url}}">
</div>
