{% extends 'Admin/Chefs/layout.njk' %}

{% block styles %}

  <link rel="stylesheet" href="/Styles/Admin/listagemChefs.css">

{% endblock styles %}

{% block content %}

  <section>
    <div class="container">
      <h2>Gerenciar chefes</h2>

      <div class="cards">
        {% for item in items %}
            <div class="card">
              <div class="img" style="background-image: url('{{item.avatar_url}}')"></div>
              <div class="card-text">
                <h3>{{item.name}}</h3>
                <a href="/Admin/chefs/{{item.id}}">Visualizar</a>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}

