<!--Arquivo especifico para campo de busca-->

<link rel="stylesheet" href="/Styles/User/filter.css">

<form action="/recipes" method="GET">
  <div class="filter">
    <input type="text" name="filter" placeholder="Buscar por receita">
    <button type="submit">Filtrar</button>
  </div>
</form>