<div class="item">
  <label>Imagem da receita</label>
  <input type="url" name="recipe_url" required value="{{item.image}}">
</div>

<div class="item">
  <label>Título da receita</label>
  <input type="text" name="title" required value="{{item.title}}">
</div>

<div class="item">
  <label>Chefe</label>
  <select name="chef_id">
    {% for item in items %}
      <option value="{{item.id}}" {% if item.chef_id == item.id %}selected{% endif %}>
        {{item.name}}
      </option>
    {% endfor %}
  </select>
</div>

<div class="item">
  <div id="ingredients">
    <label>ingredientes</label>
    {% for ing in item.ingredients %}
      <input type="text" name="ingredients[]" value="{{ing}}"/>
    {% endfor %}
    
    <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ing}}"/>
    </div>
  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
  <div id="passos">
    <label>Modo de preparo</label>
    {% for pass in item.preparation %}
      <input type="text" name="passos[]" value="{{pass}}"/>
    {% endfor %}
    <div class="passo">
      <input type="text" name="passos[]" value="{{pass}}"/>
    </div>
  </div>
  <button type="button" class="add-passo">Adicionar novo passo</button>
</div>

<div class="item">
  <label>Informações adicionais</label>
  <textarea name="info_add">{{item.information}}</textarea>
</div>
